@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/*@import url('https://fonts.googleapis.com/css?family=Poppins:300, 400, 500')*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Wire+One')
@import url('href="https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Damion|Economica|Sacramento|Fira+Sans|Josefin+Sans');

html, body {
  height: 100%;
  display: grid;
}

.homeDiv {
  background: url('/src/client/images/bg.jpg') no-repeat center center fixed; 
  min-height: 100%;
}

#logo {
  width: 5%;
  height: 5%;
}

#home {
  width: 4%;
  height: 4%;
}

.languageButton {
  float:right;
}

.centerDiv {
  /*text-align: center;*/
  /*position: absolute;*/
  /*margin: auto;*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*#home {
  background-color: white;
  border-radius: 20px;
  width: 40px;
}*/

.centerName {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 90px;
}

.centerTitle {
  text-align: center;
  font-family: 'Economica', sans-serif;
  font-size: 30px;
}

.navLinkGroup {
  text-align: center;
}

.navlink {
  text-decoration: none;
  color: #212121;
  width: 80%;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

